body {
    background-image: url("../images/background.png");
    font-size: 14pt;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

img {
    max-width: 500px;
    float: left;
    padding-top: 30px;
    padding-right: 20px;
}

div {
    padding-right: 10px;
}

.answerbtn {
    display: none;
}

.resetbtn {
    display: none;
}