.gemPic {
    max-width: 100px;
}

body {
    background-color: mistyrose;
}

.container {
    background-color: rgba(255,255,255,0.5);
}

.section {
    padding: 20px;
}

.page-footer {
    margin-top: 20px;
    padding-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

.red-font {
    color: red;
}

.green-font {
    color: green;
}



@media screen and (min-width: 993px) {
    nav .brand-logo {
        position: relative;
    }
}

@media screen and (max-width: 450px) {
    nav .brand-logo{
        font-size: 20pt;
    }
}

@media screen and (max-width: 410px) {
    nav .brand-logo {
        font-size: 15pt;
    }
}